<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user_id</key>
	<string>k22023444</string>
	<key>user_name</key>
	<string>gloomy_ray</string>
	<key>email</key>
	<string>gloomy_ray@gmaiil.com</string>
	<key>real_name</key>
	<string></string>
</dict>
</plist>
